[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Sky Stream
Exec=mycroft-gui-app --hideTextInput --skill=skystream.aiix.home
Icon=skystream
Categories=VoiceApp
StartupNotify=false
